# Cluster configuration
cluster_name    = "default"
cluster_domain  = "default.cluster.example.com"

# SSH configuration
ssh_private_key     = "~/.ssh/id_rsa"
ssh_public_key      = "~/.ssh/id_rsa.pub"
ssh_public_key_name = "personal"

# Hetzner configuration
hcloud_token = "API-TOKEN"

# Cloudflare configuration
cloudflare_email    = "admin@example.com"
cloudflare_api_key  = "API-KEY"
cloudflare_zone_id  = "ZONE-ID" # Zone ID of domain in Cloudflare

# Server definition
servers = {
  "1" = {
    name                  = "master01"
    server_type           = "cx11"
    private_ip_address    = "10.0.0.10"
  },
  "2" = {
    name                  = "worker01"
    server_type           = "cx21"
    private_ip_address    = "10.0.0.20"
  },
  "3" = {
    name                  = "worker02"
    server_type           = "cx21"
    private_ip_address    = "10.0.0.21"
  },
}